{
    -fx-primary : #2A2E37;
    -fx-secondary : #1f4760;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 8pt;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.root{
    -fx-font-family: FontAwesome;
}

.button
{
    -fx-background-color : rgb(196, 196, 196);
    -fx-font-family: FontAwesome;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 8pt;

}
.button:hover
{
    -fx-background-color : #A1C1F4 ;
    -fx-webkit-transition:width 2s, height 4s;

}
.button:pressed
{
    -fx-background-color : #73A3EF ;
}