{
    -fx-primary : #2D75E8;
    -fx-secondary : rgb(127, 172, 243);
    -fx-primarytext : #000000;
    -fx-blue: #1976D2;
    -fx-color-1:#1976D2;
}
.button
{
    -fx-background-color : rgb(196, 196, 196);
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 8pt;
}
.button:hover
{
    -fx-background-color : #A1C1F4 ;

}
.button:pressed
{
    -fx-background-color : #73A3EF ;
}


/* Table Set Up */
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white ;

}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}

/* newly added 4-17-2019*/
 #searchField{
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-font-size: 8pt;
}
#searchField:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}