{
    -fx-primary : #2A2E37;
    -fx-secondary : #1f4760
;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
.root{
    -fx-font-family: FontAwesome;
}

.button {
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-color: #73A3EF;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-color: #73A3EF;
    -fx-text-fill: white;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}