.button
{
    -fx-background-color : rgba(48, 84, 89, 0);
    -fx-width: 5000px;
    -fx-padding: 10px 24px;
    -fx-border: none;
    -fx-background-radius: 0;
}
.button:hover
{
    -fx-background-color : #305459;

}
.button:pressed
{
    -fx-background-color : #4b5954;
}
.button:focused {
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-background-color: #4b5954;
    -fx-text-fill: white;
}